html {
  font-size: 14px;
}
#imgBD{
    width:450px;

}

@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
  #imgBD {
      width:768px;

  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}